recursive-exclude env *
recursive-include conf *.yaml
include Makefile
include LICENSE
include outputs.tar.gz
include requirements.txt
include requirements_minimal.txt
include mypy.ini
include demucs/py.typed
include demucs/remote/*.txt
include demucs/remote/*.yaml
